@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Ninja Naruto';
    font-style: normal;
    font-weight: normal;
    src: local('Ninja Naruto'), url('njnaruto.woff') format('woff');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #D76C09;
}
.d-flex{
    display: flex;
}
.w-90{
    width: 90%;
}
.jc-center{
    justify-content: center;
}
.m-auto{
    margin: auto;
}
.a-center{
    align-items: center;
}
.jc-Sb{
    justify-content: space-between;
}
.w-40{
    width: 50%;
}
ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: #D76C09;
}
.account_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #092AD7;
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
}
nav{
    background: #1E1E1E;
    box-shadow: 0px 15px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
    font-family: 'Ninja Naruto';
}
.nav_link:active{
    color: red;

}
.logo{
    color: #D76C09;
    font-size: 32px;
    text-shadow: 0px 10px 4px rgba(126, 120, 120, 0.25);
}
.logo img{
    width: 91px;
    height: 91px;
}
.navbar ul{
    text-shadow: 0px 10px 4px rgba(126, 120, 120, 0.25);
    font-size: 20px;
    font-style: normal;
}
.banniere{
    background: no-repeat center url(img/banniere.png);
    background-size: cover;
    height: 286px;
    width: 100%;
    box-shadow: 0px 15px 4px 0px rgba(0, 0, 0, 0.25);
}
main{
    margin-top: 30px;
    background-color: #D76C09;
}
.bandeau{
    width: 100%;
    height: 300px;
}
.content h1{
    margin-bottom: 15px;
    font-family: 'Ninja Naruto';
}
.content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.content p{
    color: #4F4343;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.parent{
    background: no-repeat center url(img/Frame\_1.png);
    background-size: center;
    width: 100%;
    height: 330px;
    align-items: center;
    box-shadow: 0px 15px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 35px;
}
.w-50{
    width: 50%;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.illustration-accueil{
    display: flex;
    align-items: center;
}
footer{
    background: #1E1E1E;
    font-family: 'Poppins', sans-serif;
}
.footer_top{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    align-items: center;
}
.navbar_footer{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}
.logo_footer{
    width: 100px;
    height: 100px;
}
.footer_bottom{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
/* ---------------------------------------------------Contact------------------------------------------------------- */
.banniere_contact{
    background: no-repeat center url(img/naruto-univers-header.png);
    background-size: cover;
    width: 100%;
    height: 286px;
    box-shadow: 0px 15px 4px 0px rgba(0, 0, 0, 0.25);
}
.border{
    background: rgba(30, 30, 30, 0.68);
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.border_title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.title{
    position: absolute;
    font-family: 'Ninja Naruto';
    color: #D76C09;
    text-shadow: 0px 10px 4px #000;
    letter-spacing: 2px;
}
.form_div{
    background: no-repeat center url(img/Frame\_1.png);
    background-size: center;
    width: 100%;
    height: 330px;
    align-items: center;
    box-shadow: 0px 15px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}
.names{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_pseudo{
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ninja Naruto';
}
input , textarea{
    background: transparent;
}
#mail{
    width: 90%;
    height: 30px;
    border-radius: 9px;
    border: 5px solid #756B6B;
    background: #A3A2A2;
    box-shadow: 0px 5px 2px 2px rgba(0, 0, 0, 0.53) inset;
}
#name{
    width: 95%;
    height: 30px;
    border-radius: 9px;
    border: 5px solid #756B6B;
    background: #A3A2A2;
    box-shadow: 0px 5px 2px 2px rgba(0, 0, 0, 0.53) inset;
}
#first_name{
    width: 95%;
    height: 30px;
    border-radius: 9px;
    border: 5px solid #756B6B;
    background: #A3A2A2;
    box-shadow: 0px 5px 2px 2px rgba(0, 0, 0, 0.53) inset;
}
#msg{
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: 5px solid #756B6B;
    background: #A3A2A2;
    box-shadow: 0px 5px 2px 2px rgba(0, 0, 0, 0.53) inset;
}
.title_mail{
    width: 512px;
    height: 56px;
    transform: rotate(0.248deg);
    flex-shrink: 0;
    border-radius: 20px;
    border: 7px solid #756B6B;
    background: #A3A2A2;
    box-shadow: 0px 10px 0px 5px rgba(0, 0, 0, 0.53) inset;
    display: flex;
    justify-content: center;
    align-items: center;
}